*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    margin: 10px;
    text-align: center;
    text-decoration: underline;
}

#party-container{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      ". . ."
      ". . ."; 
    background: rgb(249,249,249);
    background: linear-gradient(90deg, rgba(249,249,249,1) 0%, rgba(155,138,138,1) 100%);
    
}
#party-container .party{
    border-style: inset;
    padding: 5px; 
}
#party-container .party h2{
    text-align: center;
    text-transform: uppercase;
}
#party-container .party p{
    margin: 5px;
}
#party-container .party p:nth-child(1n + 3){
    text-align: center;
    font-weight: 900;
}