
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}
body {
  padding: 50px;
  background: rgb(22,216,248);
  background: radial-gradient(circle, rgba(22,216,248,1) 0%, rgba(179,54,188,1) 100%);
  font-size: 10px;
}
h1{
  font-size: 3rem;
  margin: 10px;
  text-align: center;
  text-decoration: underline;
}
img {
  height: 250px;
  width: auto;
  padding: 10px 0px;
}
#new-player-form{
    border-style: solid;
    border-color: black;
    padding: 20px;
}
#new-player-form form label{
  font-size: 1.2rem;
}
.container{

}
#all-players-container {
  display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      ". . ."
      ". . ."; 
  height: 100vh;
  overflow: auto;
}
#all-players-container .player {
  border-style: dotted;
  padding: 5px;
  border-color: black;
}
#all-players-container .player h2{
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}
#all-players-container .player p{
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}
#all-players-container .player img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}
#all-players-container .player .buttonz{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 10px; */
  /* padding: 0px 60px; */
}
#all-players-container .player .buttonz button{
  margin: 0px 10px;
  padding: 5px;
  border-radius: 50%;
}